{% extends "partials/base.njk" %}

{% block title %}Cotizar Mudanzas | Flyt{% endblock %}

{% set meta_description = "Envía desde una bicicleta, hasta una nave espacial" %}
{% set og_url = "http://flyt.mx/" %}
{% set og_title = "Cotizar Mudanzas | Flyt" %}
{% set og_description = "Envía desde una bicicleta, hasta una nave espacial" %}
{% set og_img = "http://flyt.mx/img/seo/cotizar-mudanzas-seo.jpg" %}
{% set og_img_width = "1000" %}
{% set og_img_height = "668" %}

{% set view_name = "mudanzas" %}

{% block content %}
<section class="hubspotForm">
  <h1 class="subtitleMd"> Cotizar Mudanzas</h1>

  <div class="hubspotFormContainer">
    <div class="hubspotFormSubContainer">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "5366761",
          formId: "61b5c8ae-978f-432e-8fe1-a8b14a8d79c7"
        });
      </script>
    </div>
  </div>
</section>
{% endblock %}
