{% extends "partials/base.njk" %}

{% block title %}Cotizar Otros | Flyt{% endblock %}

{% set meta_description = "Envía desde una bicicleta, hasta una nave espacial" %}
{% set og_url = "" %}
{% set og_title = "Cotizar Otros | Flyt" %}
{% set og_description = "Envía desde una bicicleta, hasta una nave espacial" %}
{% set og_img = "" %}
{% set og_img_width = "" %}
{% set og_img_height = "" %}

{% set view_name = "mudanzas" %}

{% block content %}
<section class="hubspotForm">
  <h1 class="subtitleMd">Cotizar Otros</h1>

  <div class="hubspotFormContainer">
    <div class="hubspotFormSubContainer">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "5366761",
          formId: "08257f2f-e8fb-431f-9f3e-b68e9791898a"
        });
      </script>
    </div>
  </div>
</section>
{% endblock %}
