{% extends "partials/base.njk" %}

{% block title %}Cotizar Tarimas, cajas y bultos | Flyt{% endblock %}

{% set meta_description = "Envía desde una bicicleta, hasta una nave espacial" %}
{% set og_url = "" %}
{% set og_title = "Cotizar Tarimas, cajas y bultos | Flyt" %}
{% set og_description = "Envía desde una bicicleta, hasta una nave espacial" %}
{% set og_img = "" %}
{% set og_img_width = "" %}
{% set og_img_height = "" %}

{% set view_name = "mudanzas" %}

{% block content %}
<section class="hubspotForm">
  <h1 class="subtitleMd">Cotizar Tarimas, cajas y bultos</h1>

  <div class="hubspotFormContainer">
    <div class="hubspotFormSubContainer">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "5366761",
          formId: "55076b56-50e7-46c5-b6ce-52daa11f3682"
        });
      </script>
    </div>
  </div>
</section>
{% endblock %}
