{% extends "partials/base.njk" %}

{% block title %}Registro | Flyt{% endblock %}

{% set meta_description = "Aumenta tus ingresos y reduce tus costos." %}
{% set og_url = "" %}
{% set og_title = "Registro | Flyt" %}
{% set og_description = "Aumenta tus ingresos y reduce tus costos." %}
{% set og_img = "" %}
{% set og_img_width = "" %}
{% set og_img_height = "" %}

{% set view_name = "register" %}

{% block content %}
<section class="hubspotForm">
  <h1 class="subtitleMd">Registro</h1>

  <div class="hubspotFormContainer">
    <div class="hubspotFormSubContainer">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "5366761",
          formId: "72dbb183-e33f-472b-9462-0be2e8f011ae"
        });
      </script>
    </div>
  </div>
</section>
{% endblock %}
