.nav
  align-items center
  background-color $c-white
  box-shadow 0 6px 8px 0 rgba(0, 0, 0, 0.2)
  display flex
  height 80px
  justify-content space-between
  left 0
  padding 0 0 0 75px
  position fixed
  top 0
  width 100%
  z-index 12

  &-logo
    height 49px
    width 90px

  &-option
    align-items center
    color $c-black
    display flex
    font-family 'avenir-next-medium'
    font-size 16px
    font-weight $regular
    height 80px
    -webkit-font-smoothing antialiased

    &.active,
    &:hover
      font-family 'avenir-next-demi'

    &-container
      display flex
      flex-direction row

    &-content
      position relative

      &:nth-child(2)
        margin-left 32px

      &:nth-child(3)
        margin-left 58px

      & a
        display flex
        height 80px

      & a.quote
        color $c-white
        background-color $c-blue
        padding-left 34px
        width 178px

  &-lang
    &-container
      display flex
      flex-direction row
      margin-left 20px

    &-content
      margin 0 10px

      & a
        padding 5px

    &-active
      color #ffffff

.hamburger
  &-visibility
    position absolute

  &-menu
    &-container
      display none

@media screen and (max-width: 749px)
  .nav
    justify-content space-between
    // height 70px
    padding 0 23px

    &-option
      &-container
        display none

  .hamburger
    background-color transparent
    display flex
    height 33px
    justify-content center
    width 33px

    &-visibility
      cursor pointer
      position initial

    &-logo
      height 49px
      width 90px

    &-close
      cursor pointer
      height 16px
      width 16px

    &-menu
      &-container
        background-color $c-white
        display inline
        bottom 0
        overflow scroll
        padding-bottom 50px
        position fixed
        right 0
        top 0
        transition width 0.5s
        width 0%
        z-index 13
        -webkit-transition width 0.5s

      &-header
        align-items center
        display flex
        flex-direction row
        justify-content space-between
        padding 22px 23px 50px 23px

      // &-body
      //   margin-left 36px

    &-text
      color $c-black
      font-family 'avenir-next-medium'
      font-size 16px
      font-weight $regular

      &-container
        padding 17px  23px

        &:hover,
        &.active
          background-color $c-blue

          .hamburger-text
            color $c-white

    &-active,
    &-text:hover
      color $c-blue

    &-line
      &-icon
        background-color $c-blue
        height 2px
        width 24px

        &-container
          align-items center
          border-radius 3px
          display flex
          flex-direction column
          height 30px
          justify-content center
          width 24px

        &:nth-child(2)
          margin 4px 0
