@font-face
  font-family 'avenir-next-italic'
  src url('../fonts/AvenirNext-Italic.woff2') format('woff2'),
      url('../fonts/AvenirNext-Italic.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'avenir-next-demi'
  src url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
      url('../fonts/AvenirNext-DemiBold.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'avenir-next-regular'
  src url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('../fonts/AvenirNext-Regular.woff') format('woff')
  font-weight normal
  font-style normal


@font-face
  font-family 'avenir-next-medium'
  src url('../fonts/AvenirNext-Medium.woff2') format('woff2'),
      url('../fonts/AvenirNext-Medium.woff') format('woff')
  font-weight normal
  font-style normal
