.bigTitle
  color $c-white
  font-family 'avenir-next-demi'
  -webkit-font-smoothing antialiased
  font-size 36px
  font-weight $regular
  line-height 53px
  margin-bottom 30px
  max-width 650px
  text-align center

  span
    font-family 'avenir-next-regular'
    -webkit-font-smoothing antialiased

.btnBase
  align-items center
  border-radius 4px
  color $c-white
  display flex
  font-family 'avenir-next-demi'
  -webkit-font-smoothing antialiased
  font-size 20px
  font-weight $regular
  height 55px
  justify-content center
  width 165px

  &.yellow
    background-color $c-yellow

    &:hover
      background-color #ffb82b

  &.blue
    background-color $c-blue

    &:hover
      background-color #1659a5

  &.orange
    background-color $c-orange

    &:hover
      background-color #e83f29

.subtitleMd
  color $c-black
  font-family 'avenir-next-medium'
  -webkit-font-smoothing antialiased
  font-size 32px
  font-weight $regular
  text-align center

/*TESTIMONIALS BASE STYLES*/

.testimonials
  background-color #f5f5f5
  padding 54px 0 23px 0

  &-title
    color $c-black
    font-family 'avenir-next-demi'
    -webkit-font-smoothing antialiased
    font-size 32px
    font-weight $regular
    line-height 38px
    margin 0 auto
    max-width 450px
    text-align center

  &-card
    background-color $c-white
    border solid 1px #e5e5e5
    height 174px
    margin 0 46px 46px 46px
    padding 16px 0
    position relative
    width 390px

    &-wrapper
      display flex
      flex-wrap wrap
      justify-content center
      margin 82px 0 0 40px

    &-avatar
      height 139px
      position absolute
      width 139px

      &-container
        align-items center
        background-color #e5e5e5
        border solid 1px #e5e5e5
        border-radius 100px
        display flex
        height 147px
        justify-content center
        left -73.5px
        position absolute
        top -27px
        width 147px

    &-name
      border-bottom solid 1px #e5e5e5
      color $c-black
      font-family 'avenir-next-demi'
      -webkit-font-smoothing antialiased
      font-size 23px
      font-weight $regular

    &-description
      color #323232
      font-family 'avenir-next-italic'
      -webkit-font-smoothing antialiased
      font-size 13px
      font-weight $regular
      line-height 20px
      padding-top 15px

    &-name, &-description
      padding-right 26px
      padding-left 94px

/* ¿QUÉ ENVÍAS? BASE STYLES */

.whatDoYouSend
  padding-top 32px

  .subtitleMd
    margin-bottom 20px

  &-package
    align-items center
    border-right solid 1px #e5e5e5
    display flex
    flex 1
    flex-direction column
    flex-wrap wrap
    justify-content space-between
    padding 0 25px 15px 25px
    width 160px

    &:last-child
      border-right none

    &-wrapper
      border-top solid 1px #e5e5e5
      display flex
      flex-wrap wrap
      justify-content center

    &-img
      max-height 100%
      max-width 100%

      &-container
        align-items center
        display flex
        height 145px
        padding-top 15px

    &-title
      color $c-black
      font-family 'avenir-next-medium'
      -webkit-font-smoothing antialiased
      font-size 18px
      font-weight $regular
      line-height 20px
      text-align center

/* HUBSPOT FORM STYLES */

.hubspotForm
  margin 55px 0 0 0

  .subtitleMd
    margin-bottom 50px

  &Container
    display flex
    justify-content center

  &SubContainer
    margin 0 -55px 0 0
    width 550px

@media screen and (max-width 1018px)
  .testimonials
    &-card
      margin-left 73px

  .whatDoYouSend
    &-package
      border-bottom solid 1px #e5e5e5
      flex-basis 33.33%
      padding-top 15px
      // width: 33.33%

@media screen and (max-width 980px)
  .whatDoYouSend
    &-package
      // border-bottom solid 1px #e5e5e5
      // padding-top 15px
      // width: 33.33%

      &:nth-child(3)
        border-right none

      &-wrapper
        margin-left auto
        margin-right auto
        width 100%

@media screen and (max-width 749px)
  .testimonials
    &-card
      height auto

@media screen and (max-width 640px)
  .hubspotForm
    &SubContainer
      margin 0 -25px 0 0
      width 250px

@media screen and (max-width 480px)
  .btnBase
    font-size 15px

  .subtitleMd
    font-size 24px

  .whatDoYouSend
    &-package
      border-bottom solid 1px #e5e5e5
      flex-basis 50%
      padding-top 15px

      &:nth-child(3)
        border-right solid 1px #e5e5e5

      &-wrapper
        width auto

      &-img
        &-container
          justify-content center
          margin-bottom 20px

  .testimonials
    &-title
      font-size 26px
      line-height 32px
      padding 0 30px

    &-card
      &-wrapper
        margin-left 20px
        margin-right 0

      &-avatar
        height 91px
        width 91px

        &-container
          height 99px
          left -49.5px
          width 99px

      &-name, &-description
        padding-left 70px
