// COLORS
$errorColor = #ff3636
$successColor = #149a14

$c-white = #ffffff
$c-black = #4a4a4a
$c-blue = #426e9f
$c-blue-2 = #326197
$c-blue-3 = #104582
$c-gray = #e5e5e5
$c-orange = #ed7161
$c-yellow = #ffcc66

// Base font-size
$baseFontSize = 16

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black